/* Navbar.css */

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

* {
  font-family: "Orbitron", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  transition-duration: 0.5s;
  color: black;
}

body {
  background-color: #3f3f3f;
}

.logo {
  float: left;
  margin-left: 5%;
  line-height: 50px;
  font-size: 2em;
}
nav {
  background-color: #222;
  border-radius: 0 0 50px 0;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

nav:hover {
  animation: borderBottomAnimation 5s infinite linear alternate,
             boxShadowAnimation 5s infinite linear alternate;
}

nav:hover li a {
  color: #b3fee9;
  animation: textShadowAnimation 5s infinite linear alternate,
}

ul {
  text-align: center;
  height: 50px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.025), rgba(0, 0, 0, 0.4));
}

li {
  display: inline-block;
}

li:not(:first-child) {
  padding: 0 2%;
}

li:hover a {
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}

a {
  text-decoration: none;
  line-height: 50px;
  text-transform: uppercase;
  padding: 5px 15px;
}

li:not(:first-child) a:hover {
  border: 0px 2px solid #b3fee9;
  background: rgba(179, 254, 233, 0.25);
  animation: borderBottomAnimation 5s infinite linear alternate,
             boxShadowAnimation 5s infinite linear alternate;
  color: black;
}
@keyframes borderBottomAnimation {
  0% {
    border-bottom: 5px solid #00d5ff;
  }
  14.28% {
    border-bottom: 5px solid #0800ff;
  }
  28.57% {
    border-bottom: 5px solid #ff00ee;
  }
  42.85% {
    border-bottom: 5px solid #ff0000;
  }
  57.14% {
    border-bottom: 5px solid #ff9900;
  }
  71.42% {
    border-bottom: 5px solid #fff700;
  }
  85.71% {
    border-bottom: 5px solid #00ff00;
  }
  100% {
    border-bottom: 5px solid #00e5ff;
  }
}

@keyframes boxShadowAnimation {
  0% {
    box-shadow: 0 0 20px rgb(0, 251, 255);
  }
  14.28% {
    box-shadow: 0 0 20px rgb(0, 0, 255);
  }
  28.57% {
    box-shadow: 0 0 20px rgb(234, 0, 255);
  }
  42.85% {
    box-shadow: 0 0 20px rgb(255, 0, 0);
  }
  57.14% {
    box-shadow: 0 0 20px rgb(255, 140, 0);
  }
  71.42% {
    box-shadow: 0 0 20px rgb(255, 247, 0);
  }
  85.71% {
    box-shadow: 0 0 20px rgb(60, 255, 0);
  }
  100% {
    box-shadow: 0 0 20px rgb(0, 255, 229);
  }
}
@keyframes textShadowAnimation {
  0% {
    text-shadow: 0 0 20px rgb(0, 251, 255);
  }
  14.28% {
    text-shadow: 0 0 20px rgb(0, 0, 255);
  }
  28.57% {
    text-shadow: 0 0 20px rgb(234, 0, 255);
  }
  42.85% {
    text-shadow: 0 0 20px rgb(255, 0, 0);
  }
  57.14% {
    text-shadow: 0 0 20px rgb(255, 140, 0);
  }
  71.42% {
    text-shadow: 0 0 20px rgb(255, 247, 0);
  }
  85.71% {
    text-shadow: 0 0 20px rgb(60, 255, 0);
  }
  100% {
    text-shadow: 0 0 20px rgb(0, 255, 229);
  }
}
@keyframes colorAnimation {
  0% {
    color: 0 0 20px rgb(0, 251, 255);
  }
  14.28% {
    color: 0 0 20px rgb(0, 0, 255);
  }
  28.57% {
    color: 0 0 20px rgb(234, 0, 255);
  }
  42.85% {
    color: 0 0 20px rgb(255, 0, 0);
  }
  57.14% {
    color: 0 0 20px rgb(255, 140, 0);
  }
  71.42% {
    color: 0 0 20px rgb(255, 247, 0);
  }
  85.71% {
    color: 0 0 20px rgb(60, 255, 0);
  }
  100% {
    color: 0 0 20px rgb(0, 255, 229);
  }
}